<tr>
	<td>
		<div class="col-xs-3 col-md-3" ><p>{{index}} {{hand.rank.handName}}
</p></div>
	</td>
	<td>
		<div ng-repeat="card in hand.cards track by $index" style="float:left">
		{{card}}
			<playingcard 
			size="50" 
			value="{{card}}" 
			suit="{{card}}" 
			card="card">
			</playingcard>
		</div>
	</td>

	<td><label>${{anti}}</label>
		<input type="range" min="0" max="100" value="0" step="5" id="anti" ng-model="anti" width="25">
	</td>
	<td>
		<p ng-show="anti > 0">YES</p>
		<p ng-show="anti <= 0">NO</p>
	</td>
	<td>
		<select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
	</td>
	<td>
		<select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
	</td>
	<td>
		<select class="form-control">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
	</td>
</tr>