 <header>
	 <div class="container" ng-controller="ThreecardpokerCtrl">
	 	<div class="row">

			<div class="col-md-3">
				<h3>Rules</h3>
				<img width="100px" src="assets/images/Casino Verify Seal.png" alt="Casino Verify">
			</div>

			<div class="col-md-7">
				<h3>gameplay</h3>
				<div class="row" >
				<div class="col-xs-3 col-md-3" ><p>hand 1</p></div>
					  <div class="col-xs-3 col-md-3" ng-repeat="card in hands[0]" >
						  <div>
						      <playingcard 
						      	size="50" 
						      	value="{{card.value}}" 
						      	suit="{{card.suit}}" 
						      	card="{{card.card}}">
						      </playingcard>
						  </div>
					  </div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 2</p></div>
					<div class="col-xs-3 col-md-3" ng-repeat="card in hands[1]" >
						<div>
						      <playingcard 
						      	size="50" 
						      	value="{{card.value}}" 
						      	suit="{{card.suit}}" 
						      	card="{{card.card}}">
						      </playingcard>
						  </div>
					  </div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 3</p></div>
					<div class="col-xs-3 col-md-3" ng-repeat="card in hands[2]" >
						<div>
						      <playingcard 
						      	size="50" 
						      	value="{{card.value}}" 
						      	suit="{{card.suit}}" 
						      	card="{{card.card}}">
						      </playingcard>
						  </div>
					  </div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 4</p></div>
					<div class="col-xs-3 col-md-3" ng-repeat="card in hands[3]" >
						<div>
						      <playingcard 
						      	size="50" 
						      	value="{{card.value}}" 
						      	suit="{{card.suit}}" 
						      	card="{{card.card}}">
						      </playingcard>
						  </div>
					  </div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 5</p></div>
					<div class="col-xs-3 col-md-3" ng-repeat="card in hands[4]" >
						<div>
						      <playingcard 
						      	size="50" 
						      	value="{{card.value}}" 
						      	suit="{{card.suit}}" 
						      	card="{{card.card}}">
						      </playingcard>
						  </div>
					  </div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 6</p></div>
					<div class="col-xs-3 col-md-3" ng-repeat="card in hands[5]" >
						<div>
						      <playingcard 
						      	size="50" 
						      	value="{{card.value}}" 
						      	suit="{{card.suit}}" 
						      	card="{{card.card}}">
						      </playingcard>
						  </div>
					  </div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 7</p></div>
					<div class="col-xs-3 col-md-3" ng-repeat="card in hands[6]" >
						<div>
						      <playingcard 
						      	size="50" 
						      	value="{{card.value}}" 
						      	suit="{{card.suit}}" 
						      	card="{{card.card}}">
						      </playingcard>
						  </div>
					  </div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 8</p></div>
					<div class="col-xs-3 col-md-3" ng-repeat="card in hands[7]" >
						<div>
						      <playingcard 
						      	size="50" 
						      	value="{{card.value}}" 
						      	suit="{{card.suit}}" 
						      	card="{{card.card}}">
						      </playingcard>
						  </div>
					  </div>
				</div>
				<hr>
				<p>all cards</p>
				<div class="row" >
					  <div class="col-xs-4 col-md-4" ng-repeat="card in model.game" >
						  <div>
						      <playingcard 
						      	size="50" 
						      	value="{{card.value}}" 
						      	suit="{{card.suit}}" 
						      	card="{{card.card}}">
						      </playingcard>
						  </div>
					  </div>
				</div>

			</div>

			<div class="col-md-2">
				<h3>Options</h3>
			</div>

		</div>
	</div>
</header>