 <header>
	 <div class="container" ng-controller="ThreecardpokerCtrl">
	 	<div class="row">

			<div class="col-md-3">
				<h3>Rules</h3>
				<img width="100px" src="assets/images/Casino Verify Seal.png" alt="Casino Verify">
			</div>

			<div class="col-md-7">
				<h3>gameplay</h3>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 1</p></div>
				 	<div ng-repeat="card in hands[0]" style="float:left">
					    <playingcard 
					      	size="50" 
					      	value="{{card.value}}" 
					      	suit="{{card.suit}}" 
					      	card="{{card.card}}">
					    </playingcard>
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 2</p></div>
				 	<div ng-repeat="card in hands[1]" style="float:left">
					    <playingcard 
					      	size="50" 
					      	value="{{card.value}}" 
					      	suit="{{card.suit}}" 
					      	card="{{card.card}}">
					    </playingcard>
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 3</p></div>
				 	<div ng-repeat="card in hands[2]" style="float:left">
					    <playingcard 
					      	size="50" 
					      	value="{{card.value}}" 
					      	suit="{{card.suit}}" 
					      	card="{{card.card}}">
					    </playingcard>
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 4</p></div>
				 	<div ng-repeat="card in hands[3]" style="float:left">
					    <playingcard 
					      	size="50" 
					      	value="{{card.value}}" 
					      	suit="{{card.suit}}" 
					      	card="{{card.card}}">
					    </playingcard>
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 5</p></div>
				 	<div ng-repeat="card in hands[4]" style="float:left">
					    <playingcard 
					      	size="50" 
					      	value="{{card.value}}" 
					      	suit="{{card.suit}}" 
					      	card="{{card.card}}">
					    </playingcard>
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 6</p></div>
				 	<div ng-repeat="card in hands[5]" style="float:left">
					    <playingcard 
					      	size="50" 
					      	value="{{card.value}}" 
					      	suit="{{card.suit}}" 
					      	card="{{card.card}}">
					    </playingcard>
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 7</p></div>
				 	<div ng-repeat="card in hands[6]" style="float:left">
					    <playingcard 
					      	size="50" 
					      	value="{{card.value}}" 
					      	suit="{{card.suit}}" 
					      	card="{{card.card}}">
					    </playingcard>
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-3 col-md-3" ><p>hand 8</p></div>
				 	<div ng-repeat="card in hands[7]" style="float:left">
					    <playingcard 
					      	size="50" 
					      	value="{{card.value}}" 
					      	suit="{{card.suit}}" 
					      	card="{{card.card}}">
					    </playingcard>
					</div>
				</div>

				<hr>
				<p>all cards</p>
				<div class="row" >
					<div  ng-repeat="card in model.game" style="float:left">
						      <playingcard 
						      	size="50" 
						      	value="{{card.value}}" 
						      	suit="{{card.suit}}" 
						      	card="{{card.card}}">
						      </playingcard>
					</div>
				</div>

			</div>

			<div class="col-md-2">
				<h3>Options</h3>
				<form>
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					    Real money
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					    For fun
					  </label>
					</div>
				</form>
			</div>

		</div>
	</div>
</header>