 <header>
	 <div class="container" ng-controller="ThreecardpokerCtrl">
	 	<div class="row">
			<div class="col-md-3" class="text-left">
				<h5>BASIC PLAY RULES - 3 Card Poker</h5>
				
				<div class="row">
					<div class="col-md-6">
						<h5>ANTE BONUS PAYS</h5>
					</div>
					<div class="col-md-6">
						<h5>BEST-5 CARDS PAYS</h5>
					</div>
				</div>

				<ol>
					<li>Place Ante and Side Bets</li>
					<li>Click Shuffle and Deal</li>
					<li>Fold or Raise Ante (not side bets)</li>
					<li>Click Play (A play bet = to the Ante bet is automatically made)</li>
					<li>View Winnings</li>
				</ol>
				
				<a href="#" class="btn btn-sm btn-outline">
                    <i class="fa fa-download"></i> Send Shuffle List
                </a>
				<a href="#" class="btn btn-sm btn-outline">
                    <i class="glyphicon glyphicon-lock"></i> Send Decrypter
                </a>

			</div>

			<div class="col-md-7">
				<div class="row" >
				<h3>3-Card Poker with Multi-Hands</h3>
				<table class="table table-striped">
					<caption>Your three card poker hands</caption>
					<thead>
						<tr>
							<th>hand</th>
							<th>cards</th>
							<th>ante</th>
							<th>play</th>
							<th>pairs</th>
							<th>best 5</th>
							<th>prime</th>
						</tr>
					</thead>
					
					<tbody>	
							<tr threecardpokerhand hand="hand" index="{{$index+1}}" ng-repeat="hand in hands" ng-hide="{{options.numHands < $index}}"></tr>
						<!-- <threecardpokerhand ng-repeat="hand in hands" hand="hand" index="{{index}}">{{index}}</threecardpokerhand> -->
					</tbody>

				</table>

				<hr>

				<p>all cards</p>
				<div class="row">
					<div  ng-repeat="card in model.game" style="float:left">
						      <playingcard 
						      	size="50" 
						      	value="{{card.value}}" 
						      	suit="{{card.suit}}" 
						      	card="{{card.card}}">
						      </playingcard>
					</div>

				</div>
			</div>
			</div>

			<div class="col-md-2">
				<h3>Options</h3>
				<a href="#" class="btn btn-sm btn-outline">
                    <i class="glyphicon glyphicon-asterisk"></i> 1. Shuffle and Deal
                </a>
				<a href="#" class="btn btn-sm btn-outline">
                    <i class="glyphicon glyphicon-play"></i> 2. Play
                </a>

				<form class="text-left">
					<div class="radio">
					play for: <br>
					  <label class="checkbox-inline">
					    <input type="radio" name="moneyOption" id="moneyOption1" value="real" checked class="checkbox-inline">
					     Real money
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="moneyOption" id="moneyOption2" value="fake" class="checkbox-inline">
					    For fun
					  </label>
					</div>
					
					<label>Number of hands {{options.numHands}}
						<input id="numHands" type ="range" min ="1" max="8" step ="1" ng-model="options.numHands" ng-init="options.numHands = 8" />
					</label>

					<div class="checkbox">
						<label>
							<input type="checkbox"> Turn off 8 hands intro at start
						</label>
					</div>

					<div class="radio">
					Deck colour <br>
					  <label class="checkbox-inline">
					    <input type="radio" name="colourOption" id="colourOption1" value="red" checked class="checkbox-inline">
					     red
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="colourOption" id="colourOption2" value="blue" class="checkbox-inline">
					    blue
					  </label>
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox"> Enable anti raise
						</label>
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox"> Enable sounds
						</label>
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox"> Casino ambient
						</label>
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox"> Enable advice
						</label>
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox"> Show cards faster
						</label>
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox"> Always fold if Q-6-4 or less
						</label>
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox"> Send decypter at end of game if shuffle list sent
						</label>
					</div>

				</form>
			</div>

		</div>
	</div>
</header>