$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.form-control, input{
	color: #000;
}

input {
	color: black;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: hsla(168, 77%, 42%, 0.8);
}


.pokerhand{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #fff;
}

.pokerhandtitle{
	background-color: hsla(168, 77%, 42%, 0.9);
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'directives/threecardpokerhand/threecardpokerhand.scss';
@import 'main/main.scss';
@import 'playingcard/playingcard.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/_bordered-pulled.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/_core.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/_fixed-width.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/_icons.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/_larger.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/_list.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/_mixins.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/_path.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/_rotated-flipped.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/_spinning.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/_stacked.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/_variables.scss';
@import 'startbootstrap-freelancer-1.0.3/font-awesome/scss/font-awesome.scss';
@import 'threecardpoker/threecardpoker.scss';
@import 'modal/modal.scss';
// endinjector